body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e5d5;
}

header {
    background-color: #2d5d2f;
    color: rgb(222, 223, 217);
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #0a0a0a;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #2d5d2f;
    color: rgb(221, 175, 175);
    text-align: center;
    padding: 10px 0;
}
